@model Web.Models.People
<br />
<div>
    <label class="label label-primary">Nome</label>
    <text>@Model.Name</text>    
</div>
<div>
    <label class="label label-primary">Criado</label>
    <text>@Model.Created.ToString("dd/MM/yyyy")</text>        
</div>
<div>
    <label class="label label-primary">Valor</label>
    <text>@Model.Value</text>     
</div>
<div>
    <label class="label label-primary">Valor</label>    
    <text>@Model.Active</text>    
</div>
<br />
<a  class="btn btn-primary" asp-action="Edit" asp-controller="Peoples" asp-route-id="@Model.Id">Editar</a>
<a asp-action="Index" asp-controller="Peoples" class="btn btn-info">Cancelar</a>
