@model IEnumerable<Web.Models.People>
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@{ 
    double sum = 0;
    //var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    //@requestCulture.RequestCulture.Culture.Name
}

<br />
<a asp-action="Create" asp-controller="Peoples" class="btn btn-block btn-success">Novo</a>
<br />
<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Criado</td>
        <td>Valor</td>
        <td>Status</td>
        <td>...</td>
    </tr>   
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Created</td>
                <td style="text-align:right">@item.Value.ToString("N2")</td>
                <td>@item.Active</td>
                <td>
                    <a asp-action="Edit" asp-controller="Peoples" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-controller="Peoples" asp-route-id="@item.Id" class="btn btn-info">Visualizar</a>
                </td>
            </tr>
            { 
                sum += item.Value;
            }
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td style="text-align:right">@sum.ToString("N2")</td>
        <td></td>            
        <td></td>
    </tr>
</table>
